/*
 * Popup.css
 *
 *
 */

/* ----------------
   Dark body theme 
   ----------------
*/
.dark {
    color: white;
    background-color: black;
}

/* a.dark:link, a.dark:visited { color: orange; } /* Use blue in dark mode as well */


/*
 * --------------
 * Height and Width Customizations
 * --------------
 */

/* Default = Wide */
body {
    height: 580px;
    width: 495px;
}

iframe {
    /* height: 560px; /* Remove 20px for bottom navigation bar */
    height: 540px;
    width: 495px;
    border: none;
}

/* Customized option: Narrow = Small iPhone size */

body.narrow {
    height: 500px;
    width: 335px;
}

iframe.narrow {
    height: 480px;  /* Remove 18px for bottom navigation bar */
    width: 335px;
}


/* Popup */

a { text-decoration: none; }
a:hover { text-decoration: underline }
a:link, a:visited { color: #546dff; }

div#statusWindow {
    background-color:coral;
    color: white;
    /* width: 100%; */
    height: 15px; /* Specify a height for JQUERY SlideDown to work properly */
    display: none;
}

div#searchSite { /* Div containing <iframe> */
    padding:0px; /* Fit in as musch of the iframe as possible */
    overflow: hidden; /* Attempt to hide Ads; Reduce horizontal scrollbar */
}

/* 
 * -----------------
 * <iframe> Controls
 * -----------------
 *
 * References:
 *  http://www.goldenapplewebdesign.com/css-equally-spaced-horizontal-elements/
 */

#ifControls {
    text-align: justify;
    padding: 2px;
    margin: 0px;
    height: 18px;
    
}
#ifControls li {
  display: inline-block;
}

#ifControls:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}