/*
 * Popup.css
 *
 *
 */

/* TESTING CSS LOAD */
/* body { background-color: black; } */


/* ----------------
   Dark body theme 
   ----------------
*/
.dark {
    color: white;
    background-color: black;
}

a.dark:link { color: orange; }
a.dark:visited { color: orange; }